*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
}
.logo h4{
    font-size: 25px;
}
.menu{
    width: 40%;
}
.menu ul{
    font-size: 12px;
    font-weight:900;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.menu ul li{
    list-style: none;
}
.btn-sec1{
    width: 30%;
    display: flex;
    justify-content: center;
}
.btn-sec1 button:first-child{
    padding: 2px 18px;
    border-radius: 14px;
    font-size: 18px;
}
.btn-sec1 button:last-child{
    padding: 2px 18px;
    border-radius: 14px;
    font-size: 18px;
    background-color: white;
}
.home{
    background-color: aqua;
    height: 80vh;
    width: 100%;
    display: flex;
}
.text-sec{
    background-color: white;
    width: 48%;
    padding: 80px 130px;

}
.L-head {
    display: flex;
    align-items: center;
}
.L-head img{
    width: 25px;
}
.L-head2 {
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: 100;
    border-bottom: 4px solid black;
    
    
}
.L-head2 img{
    width: 50%;
}
.L-head3{
    border-bottom: 4px solid black;
    font-size: 80px;
}
.L-head4{
    border-bottom: 4px solid black;
    font-size: 80px;
    font-weight: 500;
}
.img-sec{
    background-color:white;
    width: 52%;
    padding: 50px 5px;
}
.img-sec img{
    width: 90%;
}
.buttom-sec{
    display: flex;
    width: 100%;
    height: 40vh;
    padding: 40px 80px;


}
.btnn-1{
    width: 40%;
    height: 30vh;
    background-color:white;
    border: 1px solid black;
    border-radius: 14px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding: 25px 10px;
}
.btnn-1 p{
    font-size: 17px;
    font-weight: 5;
}
.btnn-2{
    background-color: white;
    height: 30vh;
    border: 1px solid black;
    border-radius: 14px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding: 25px 15px;
    width: 60%;
}
.btnn-2 h6{
    font-size: 15px;
}
.btnn-3{
    background-color:whitesmoke;
    width: 4%;
    height: 30vh;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnn-3 h4{
    writing-mode: vertical-lr;
   text-orientation: upright;

}
@media(max-width:768px) {
    .menu{
        display: none;
    }
    .btn-sec1 button:first-child{
        display: none;
    }
     .L-head2 img{
        display: none;
    }
    .img-sec{
        display: none;
    }
    .buttom-sec{
        flex-direction: column;
        align-items: center;
    }

}
@media(max-width:645px){
    .btn-sec1 button:last-child{
        padding: 2px 20px;
        font-size: 8px;
    }
    .logo h4{
        font-size: 10px;
    }
    .L-head2,.L-head3,.L-head4,.L-head h4{
        font-size: 20px;
    }
    .btnn-2 h6{
     font-size: 8px;
    }
    .btnn-3{
        width: 20%;
        border-radius: 10px;
    }
   .btnn-3 h4{
    font-size: 5px;
   }
   .btnn-1 h3,h1,.btnn-1 p{
        font-size: 8px;
    }
    .btnn-1,.btnn-2{
        width: 100%;
    }
}
